.row.justify-content-center
  .col-12.col-lg-7.my-auto
    %h1.display-4.text-light Resend confirmation
    %hr/
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      = f.label :email, class: 'sr-only'
      = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control', placeholder: 'E-Mail'
      %br/
      .actions
        = f.submit 'Resend confirmation instructions', class: 'btn btn-primary btn-lg btn-block'
      .alternatives
        %hr/
        = render partial: 'devise/shared/links', locals: { link_class: 'btn btn-dark btn-sm card-link' }
