.row.justify-content-center
  .col-12.col-lg-7.my-auto
    %h1.display-4.text-light Sign up
    %hr/
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-sign
        = devise_error_messages!
        = f.label :email, class: 'sr-only'
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-Mail'
        = f.label :password, class: 'sr-only'
        = f.password_field :password, autocomplete: 'off', class: 'form-control middle', placeholder: 'Password'
        = f.label :password_confirmation, class: 'sr-only'
        = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Password confirmation'
        .actions
          = render partial: 'devise/shared/check_privacy_policy', locals: { target: '#signup' }
          = f.submit 'Sign up', class: 'btn btn-primary btn-lg btn-block', id: 'signup', disabled: true
    %hr/
    .alternatives
      = render partial: 'devise/shared/links', locals: { link_class: 'btn btn-dark btn-sm card-link' }

