= form_with(model: notification, local: true, id: 'notification-form') do |form|
  = render partial: 'shared/form_errors', locals: { inst: notification }
  .field
    = form.label :name
    = form.text_field :name, id: :'notification-name'
  .field
    = form.label :provider
    = form.select :provider, Notification.providers.keys.to_a, id: :'notification-provider'
  .field
    = form.label :spot
    = form.text_field :spot, id: :'notification-spot', class: 'autocomplete'
  .field
    = form.hidden_field :rules, id: :'notification-rules'
    .rules
      = render partial: 'rule', collection: @notification.params_with_rules
  .actions
    = form.submit
