= form_with(model: notification, local: true, id: 'notification-form') do |f|
  = render partial: 'shared/form_errors', locals: { inst: notification }
  .field
    = f.label :name
    = f.text_field :name, id: 'notification-name', class: 'form-control'
  .field
    = f.label :provider
    = f.select :provider, Notification.providers.keys.to_a, id: 'notification-provider'
  .field
    = f.label :spot
    = f.text_field :spot, id: 'notification-spot', class: 'autocomplete'
  .field
    = f.hidden_field :rules, id: 'notification-rules'
    .rules
      = render partial: 'rule', collection: @notification.params_with_rules
  .actions
    = f.submit class: 'btn btn-lg btn-outline-primary'
