%h1 Your Notifications
%table.table.table-striped
  %thead
    %tr
      %th Alert
      %th Name
      %th Spot
      %th Swellheight
      %th Breakingsize
      %th Wavedirection
      %th Windspeed
      %th Winddirection
      %th
  %tbody
    - @notifications.each do |notification|
      %tr
        %td.possiblealert TOMORROW
        %td.spot= notification.name
        %td.spot= link_to 'Forecast', notification.spot, class: 'btn btn-outline-info'
        %td
          - if notification.rules[:swell_size][:activated]
            %i.fa.fa-circle.yes
            = notification.rules[:swell_size][:value]
            m
          - else
            %i.fa.fa-circle
          %span.metric
            (#{notification.rules[:swell_size][2]}m-#{notification.rules[:swell_size][2]}#{notification.rules[:swell_size][3]}m)
        %td
          - if notification.rules[:breaking_size][:activated]
            %i.fa.fa-circle.yes
            = notification.rules[:breaking_size][:value]
            m
          - else
            %i.fa.fa-circle
          %span.metric
            (#{notification.rules[:breaking_size][2]}m-#{notification.rules[:breaking_size][2]}#{notification.rules[:breaking_size][3]}m)
        %td
          %i.fa.fa-circle.no
          = notification.rules[:swell_dir][:value]
          %span.metric
            (#{notification.rules[:swell_dir][0]}-#{notification.rules[:swell_dir][2...5]})
        %td
          %i.fa.fa-circle.yes
          = notification.rules[:wind_speed][:value]
          %span.metric
            (#{notification.rules[:wind_speed][0]}-#{notification.rules[:wind_speed][2...5]}kmh)
        %td
          %i.fa.fa-circle.yes
          = notification.rules[:wind_dir][:value]
          %span.metric
            (#{notification.rules[:wind_dir][0]}-#{notification.rules[:wind_dir][2...5]})
        %td.actions
          .btn-group
            = link_to notification_path(notification), class: 'btn btn-sm btn-outline-primary' do
              %i.fa.fa-eye
            = link_to edit_notification_path(notification), class: 'btn btn-sm btn-outline-info' do
              %i.fa.fa-pencil
            = link_to notification, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' do
              %i.fa.fa-trash
%br/
= link_to 'New Notification', new_notification_path, class: 'btn btn-outline-primary btn-lg'
