%p#notice= notice
%p
  %strong Name:
  = @notification.name
%p
  %strong Provider:
  = @notification.provider
%p
  %strong Spot:
  = @notification.spot
%p
  %strong Rules:
  = @notification.activated_rules

- @matching_forecasts.each do |timestamp, unit|
  %p
    = "Match on #{l DateTime.strptime(timestamp, '%s'), format: :long}"
    %br
    - @notification.activated_rules_with_params.each do |rule|
      = "#{rule[:name]}: is #{unit[rule[:key].to_s]} should be #{rule[:value]}"
      %br
    %hr
= link_to 'Edit', edit_notification_path(@notification)
|
= link_to 'Back', notifications_path
