%p#notice= notice
%p
  %strong Name:
  = @notification.name
%p
  %strong Provider:
  = @notification.provider
%p
  %strong Spot:
  = @notification.spot
%p
  %strong Rules:
  = @notification.rules
%p
  %strong User:
  = @notification.user
%p
  - @matching_forecasts.each do |unit|
    = "Match on #{l unit[:time], format: :long}"
    %br
    - @notification.activated_rules_with_params.each do |rule|
      = "#{rule[:name]}: #{unit[rule[:key]]}"
      %br
    %hr
= link_to 'Edit', edit_notification_path(@notification)
|
= link_to 'Back', notifications_path
