%h1 Your Profile

= form_for @user, url: user_path do |f|
  = render partial: 'shared/form_errors', locals: { inst: @user }
  .field
    = f.label :mail_enabled
    = f.select :mail_enabled, t('forms.active_inactive')
  .field
    = f.label :notification_mail
    = f.text_field :notification_mail
  .field
    = f.label :pb_enabled
    = f.select :pb_enabled, t('forms.active_inactive')
  .field
    = f.label :pb_token
    = f.text_field :pb_token

  = f.submit