%nav.navbar.navbar-expand.navbar-dark.bg-primary
  .container
    = link_to root_path, class: 'navbar-brand' do
      = image_tag 'logo-sn.png'
      %strong SURF
      NOTIFY
    %button.navbar-toggler{'aria-controls': 'navbarSupportedContent', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation', 'data-target': '#navbarSupportedContent', 'data-toggle': 'collapse', type: 'button'}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto.my-lg-0
        - if current_user
          %li.nav-item
            = link_to 'Notifications', notifications_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Account', edit_user_registration_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Settings', settings_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link'
        - else
          %li.nav-item
            = link_to 'Log in', new_session_path(resource_name), class: 'nav-link'
          %li.nav-item
            = link_to 'Sign up', new_registration_path(resource_name), class: 'nav-link'
