%nav.navbar.navbar-expand-md{ class: classes }
  .container
    = link_to root_path, class: 'navbar-brand' do
      = image_tag 'logo-sn.png'
      %strong SURFNOTIFY
    %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbar-elements' }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-elements
      - if current_user
        %ul.navbar-nav.mr-auto
          %li.nav-item
            = link_to 'Notifications', notifications_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Settings', settings_path, class: 'nav-link'
        %ul.navbar-nav
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{ href: '#', 'data-toggle': 'dropdown' }
              = current_user.email
            .dropdown-menu
              = link_to 'Your Account', edit_user_registration_path, class: 'dropdown-item'
              = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
      - else
        .form-inline.ml-auto
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = f.label :email, class: 'sr-only'
            = f.email_field :email, class: 'form-control', placeholder: 'E-Mail'
            = f.label :password, class: 'sr-only'
            = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'
            = f.submit 'Log in', class: 'btn btn-dark'
