%nav.navbar.navbar-expand-md.navbar-dark.bg-primary{ class: Rails.env == 'development' ? 'dev-bg' : '' }
  .container
    = link_to root_path, class: 'navbar-brand' do
      = image_tag 'logo-sn.png'
      %strong SURF NOTIFY
    %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbar-elements' }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-elements
      %ul.navbar-nav.mr-auto
        - if current_user
          %li.nav-item
            = link_to 'Notifications', notifications_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Settings', settings_path, class: 'nav-link'
        - else
          %li.nav-item
            = link_to 'Log in', new_session_path(resource_name), class: 'nav-link'
          %li.nav-item
            = link_to 'Sign up', new_registration_path(resource_name), class: 'nav-link'
      - if current_user
        %ul.navbar-nav
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{ href: '#', 'data-toggle': 'dropdown' }
              = current_user.email
            .dropdown-menu
              = link_to 'Your Account', edit_user_registration_path, class: 'dropdown-item'
              = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
