%nav.navbar.navbar-expand-lg{ class: classes }
  .container
    = link_to root_path, class: 'navbar-brand' do
      = image_tag 'logo-sn.png'
      %strong SURFNOTIFY
    %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbar-elements' }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-elements
      - if current_user
        %ul.navbar-nav.mr-auto
          %li.nav-item
            = link_to 'Notifications', notifications_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Settings', settings_path, class: 'nav-link'
        %ul.navbar-nav
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{ href: '#', 'data-toggle': 'dropdown' }
              = current_user.email
            .dropdown-menu
              = link_to 'Your Account', edit_user_registration_path, class: 'dropdown-item'
              = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
      - else
        %ul.navbar-nav.ml-auto
          %li.nav-item
            = link_to 'Log in', new_session_path(:user), class: 'btn btn-lg btn-light'
