<!DOCTYPE html>
<html>
  <head>
    <title>SurfNotify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>





  </head>
  <% if current_user %>
  <div><%= render 'layouts/header' %></div>
  <% end %>
  
  <body>
    <%= yield %>

  </body>
</html>
