!!!
%html{lang: 'en'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}/
    %meta{content: '', name: 'description'}/
    %meta{content: '', name: 'author'}/
    %title SurfNotify
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'onepager', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.ico'
    %link{ href: 'https://fonts.googleapis.com/css?family=Oswald', rel: 'stylesheet' }
  %body
    = render partial: 'layouts/navigation', locals: { classes: 'bg-light navbar-light' }
    %main{ role: 'main' }
      #cover
        .container
          = yield
    .container.pt-3
      = render 'layouts/messages'
    = render 'layouts/footer'